.custom-checkbox {
  display: flex;
  align-items: center;
  gap: .25rem;

  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.custom-checkbox>input {
  position: absolute;
  opacity: 0;

  &:checked~.checkmark {
    background-color: var(--checkmark-color);
    border-color: var(--checkmark-color);
    cursor: pointer;
  }

  &:checked~.checkmark::after {
    display: block;
    animation: check-pop 1s ease-out;
  }
}

.checkmark {
  position: relative;
  width: var(--checkmark-size);
  height: var(--checkmark-size);
  border: 2px solid #d1d5db;
  border-radius: var(--checkmark-radius);
  transition: all 0.2s ease;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;

  left: 2px;
  top: -2px;
  width: 4px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@keyframes check-pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}

